<nb-card status="info">
  <nb-card-header>
    选择发送宣教材料的病患
    <button nbButton shape="round" size="tiny" class="float-right" mat-dialog-close>
      <nb-icon icon="close"></nb-icon>
    </button>
  </nb-card-header>

  <mat-dialog-content class="container px-3">
    <ng-container *ngFor="let group of groups | keyvalue; let i = index">
      <div class="alert alert-info">
        <mat-checkbox [(ngModel)]="group.value.selected" (click)="toggleGroup(group.key)">{{group.key}}</mat-checkbox>
      </div>
      <div class="row">
        <ng-container *ngFor="let user of group.value.users">
          <mat-checkbox [(ngModel)]="user.selected" class="col-sm-3 col-lg-2">{{user.name}}</mat-checkbox>
        </ng-container>
      </div>
    </ng-container>
  </mat-dialog-content>

  <nb-card-footer class="d-block">
    <button nbButton mat-dialog-close>取消</button>
    <button nbButton hero status="primary" class="float-right" (click)="select()">
      <nb-icon icon="checkmark-circle"></nb-icon>确定
    </button>
  </nb-card-footer>
</nb-card>
