<nb-card>
  <nb-card-header>
    医院全局设置
  </nb-card-header>

  <nb-card-body>
    <mat-tab-group>
      <mat-tab label="通用设置">
        <ng-template matTabContent>
          <ngx-group-settings [group]="0"></ngx-group-settings>
        </ng-template>
      </mat-tab>
      <mat-tab label="用药相关设置">
        <ng-template matTabContent>
          <ngx-group-settings [group]="1"></ngx-group-settings>
        </ng-template>
      </mat-tab>
      <mat-tab label="微信相关设置">
        <ng-template matTabContent>
          <ngx-group-settings [group]="2"></ngx-group-settings>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </nb-card-body>
</nb-card>
