<nb-card>
  <nb-card-header>
    病患预约

    <ngx-select-doctor [class.d-none]="!isCms" [departments]="departments" (doctorSelected)="doctorSelected($event)">
    </ngx-select-doctor>
  </nb-card-header>

  <nb-card-body>
    <div [class.d-none]="!dataSource?.data?.length">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 table-striped table-hover">

        <ng-container matColumnDef="scheduleDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> 预约 </th>
          <td mat-cell *matCellDef="let element">
            {{ element?.scheduleDate | localDate }} -
            <span class="text-primary">{{ getPeriodLabel(element.schedulePeriod) }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="userName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> 病患 </th>
          <td mat-cell *matCellDef="let element">
            {{element.userName}}
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> 状态 </th>
          <td mat-cell *matCellDef="let element">
            {{ getStatusLabel(element.status) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="created">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> 创建时间 </th>
          <td mat-cell *matCellDef="let element">
            {{ element?.created | localDate }}
          </td>
        </ng-container>

        <ng-container matColumnDef="_id">
          <th mat-header-cell *matHeaderCellDef class="text-center"> 确认完成 </th>
          <td mat-cell *matCellDef="let element" class="actions">
            <button nbButton hero shape="round" size="tiny" status="success" title="确认完成" *ngIf="element.status === 1"
              (click)="forceDone(element)">
              <nb-icon icon="checkmark-outline"></nb-icon>
            </button>
            &nbsp;
            <button nbButton hero shape="round" size="tiny" status="danger" title="药师取消" *ngIf="element.status === 1"
              (click)="forceCancel(element)">
              <nb-icon icon="close-outline"></nb-icon>
            </button>
            &nbsp;
            <button nbButton hero shape="round" size="tiny" status="warning" title="通知病患接手药师或取消" *ngIf="isForwarAvailable(element)"
              (click)="forwardAnotherDoctor(element)">
              <nb-icon icon="share-outline"></nb-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 25, 50]" [pageSize]="10" showFirstLastButtons></mat-paginator>
    </div>
    <ng-container *ngIf="!dataSource?.data?.length">
      <div class="alert alert-warning" role="alert">
        没有找到相关记录。
      </div>
    </ng-container>

  </nb-card-body>
</nb-card>
