<nb-card [status]="data.doctor ? 'info' : 'success'">
  <nb-card-header>
    {{data.doctor ? '编辑药师' : '新增药师'}}
    <button nbButton shape="round" size="tiny" class="float-right" mat-dialog-close>
      <nb-icon icon="close"></nb-icon>
    </button>
  </nb-card-header>

  <mat-dialog-content class="px-3">
    <ngx-doctor-profile [departments]="data.departments" [doctor]="data.doctor" [mode]="mode" [operatingRole]="operatingRole"
      (valueChange)="profileChanged($event)"></ngx-doctor-profile>
  </mat-dialog-content>

  <nb-card-footer class="d-block">
    <button nbButton mat-dialog-close>取消</button>
    <button nbButton hero status="primary" class="float-right" [disabled]="invalid" (click)="update()">
      <nb-icon icon="checkmark-circle"></nb-icon>更新
    </button>
  </nb-card-footer>
</nb-card>
