<ng-container *ngIf="!notices?.length">
  <div class="alert alert-warning" role="alert">
    暂无病患监测计划。
  </div>
</ng-container>

<div class="p-2">
  <button nbButton hero size="small" status="success" (click)="add()" class="mr-3" [class.d-none]="readonly">
    <nb-icon icon="plus-outline"></nb-icon> 新增监测提醒
  </button>
  <span>* 从预设的检测计划列表中选择 (提醒开始负数为服药结束日往前溯)</span>
</div>

<ng-container *ngIf="notices?.length">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">名称</th>
        <th scope="col">起止日期</th>
        <th scope="col">提醒开始</th>
        <th scope="col">提醒持续天数</th>
        <!-- <th scope="col">需用户确认？</th> -->
        <th scope="col" [class.d-none]="readonly"></th>
      </tr>
    </thead>
    <tbody cdkDropList (cdkDropListDropped)="drop($event)">
      <tr *ngFor="let notice of notices; let i=index" cdkDrag>
        <th scope="row">{{i+1}}</th>
        <td>{{notice.notice}}</td>
        <td>{{notice.startDate | localDate}} - {{notice.endDate | localDate}}</td>
        <td>{{notice.days_to_start}}</td>
        <td>{{notice.during}}</td>
        <!-- <td>
          <mat-checkbox [(ngModel)]="notice.require_confirm" [disabled]="true"></mat-checkbox>
        </td> -->
        <td [class.d-none]="readonly">
          <button nbButton hero shape="round" size="tiny" status="info" title="编辑" (click)="edit(i, notice)">
            <nb-icon icon="edit-2"></nb-icon>
          </button>
          &nbsp;
          <button nbButton hero shape="round" size="tiny" status="danger" title="删除" (click)="delete(i)">
            <nb-icon icon="trash-2-outline"></nb-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>

<div class="pb-2" *ngIf="diagnose">
  <button nbButton hero size="small" status="primary" (click)="sendNoticeMsg()">
    <nb-icon icon="paper-plane-outline"></nb-icon>
    手动发送阶段性提醒
  </button>
</div>
