<ng-container *ngIf="surveys$ | async; let surveys">
  <ng-container *ngFor="let survey of surveys">
    <div class="alert alert-success text-center my-3" (click)="test(survey)">
      {{survey.name}}
    </div>
    <div>
      <button nbButton hero size="small" status="primary" (click)="saveSurvey(survey)" class="mr-3">
        <nb-icon icon="save-outline"></nb-icon> 保存
      </button>
    </div>
    <ng-container *ngFor="let question of survey.questions; let qIndex=index">
      <h5 class="text-info px-2 pt-3 pb-1" (click)="test(question)">{{qIndex + 1}}. {{question.question}}</h5>
      <ng-container *ngIf="question.answer_type === 0 || question.answer_type === 1">
        <mat-radio-group>
          <ng-container *ngFor="let option of question.options; let oIndex=index">
            <mat-radio-button (click)="changeRadioSelection(question, oIndex)" [value]="option.selected"
              class="question-option" [disabled]="readonly">
              {{option.answer}}
            </mat-radio-button>
            <input type="text" nbInput [(ngModel)]="option.input" placeholder="请输入..." class="ml-5 w-75" [readonly]="readonly"
              *ngIf="option.input_required && option.selected">
          </ng-container>
        </mat-radio-group>
      </ng-container>
      <ng-container *ngIf="question.answer_type === 2">
        <ng-container *ngFor="let option of question.options">
          <mat-checkbox [value]="option.selected" [(ngModel)]="option.selected" class="question-option"
            [disabled]="readonly">
            {{option.answer}}
          </mat-checkbox>
          <input type="text" nbInput [(ngModel)]="option.input" placeholder="请输入..." class="ml-5 w-75" [readonly]="readonly"
            *ngIf="option.input_required && option.selected">
        </ng-container>
      </ng-container>

      <ng-container *ngIf="question.answer_type === 3">
        <textarea nbInput fullWidth placeholder="请输入..." [(ngModel)]="question.options[0].answer"
          [disabled]="readonly"></textarea>
      </ng-container>

    </ng-container>
  </ng-container>

</ng-container>

<ng-container *ngIf="!(surveys$ | async)?.length">
  <blockquote>
    <p>{{readonly? '病患没有填写该问卷' : '无可用的问卷。'}}</p>
  </blockquote>
</ng-container>
