<nb-card>
  <nb-card-header>
    <mat-icon inline="true"> notification_important </mat-icon> {{ data.title }}
    <button nbButton shape="round" size="tiny" class="float-right" mat-dialog-close>
      <nb-icon icon="close"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    {{data.content}}
    <div mat-dialog-actions class="d-block pt-4">
      <button nbButton status="basic" mat-dialog-close>取消</button>
      <button nbButton status="primary" class="float-right" [mat-dialog-close]="true" cdkFocusInitial>确定</button>
    </div>
  </nb-card-body>
</nb-card>
