<nb-card>
  <nb-card-header>
    宣教材料推送
     &nbsp;&nbsp;
  </nb-card-header>

  <nb-card-body>
      <button nbButton hero size="small" status="info" (click)="selectSendees()" >
        选择患者
      </button>&nbsp;&nbsp;
      <button nbButton hero size="small" status="info" (click)="selectTemplate()" >
        选择模板
      </button>&nbsp;&nbsp;
      <button nbButton hero size="small" status="info" (click)="selectFromPast()" >
        选择已发送文章
      </button>

    <span class="float-right">
      <button nbButton hero size="small" status="success" (click)="selectTemplate()" >
        <nb-icon icon="save-outline"></nb-icon> 保存
      </button>&nbsp;&nbsp;
      <button nbButton hero size="small" status="primary" (click)="selectFromPast()" >
        <nb-icon icon="checkmark-circle-outline"></nb-icon> 发送
      </button>
    </span>
  </nb-card-body>
</nb-card>
