<mat-accordion>
  <mat-expansion-panel *ngIf="isFirstVisit">
    <mat-expansion-panel-header>
      初诊问卷
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <ngx-survey-edit [type]="1" [data]="getDataByType(1)" (dataChange)="surveyGroupChanged($event)" [readonly]="readonly"></ngx-survey-edit>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel *ngIf="!isFirstVisit">
    <mat-expansion-panel-header>
      复诊问卷
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <ngx-survey-edit [type]="2" [data]="getDataByType(2)" (dataChange)="surveyGroupChanged($event)" [readonly]="readonly"></ngx-survey-edit>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      随访问卷
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <ngx-survey-edit [type]="3" [data]="getDataByType(3)" (dataChange)="surveyGroupChanged($event)" [readonly]="readonly"></ngx-survey-edit>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      用药知识自测问卷
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <ngx-survey-edit [type]="4" [data]="getDataByType(4)" (dataChange)="surveyGroupChanged($event)" [readonly]="readonly"></ngx-survey-edit>
    </ng-template>
  </mat-expansion-panel>

</mat-accordion>
