<nb-card status="info">
  <nb-card-header>
    微信失败消息详情
    <button nbButton shape="round" size="tiny" class="float-right" mat-dialog-close>
      <nb-icon icon="close"></nb-icon>
    </button>
  </nb-card-header>

  <mat-dialog-content class="px-3">
    <div class="field row">
      <div class="col-2 label px-3 pt-1 pb-2">
        消息类型:
      </div>
      <div class="col-10">
        {{data.type === 1 ? '微信图文消息': '微信模板消息'}}
      </div>
    </div>
    <div class="field row">
      <div class="col-2 label px-3 pt-1 pb-2">
        错误码:
      </div>
      <div class="col-10">
        {{data.errcode}}
      </div>
    </div>

    <div class="field row">
      <div class="col-2 label px-3 pt-1 pb-2">
        病患:
      </div>
      <div class="col-10">
        {{data.username}}({{data.openid}})
      </div>
    </div>
    <div class="field row">
      <div class="col-2 label px-3 pt-1 pb-2">
        药师:
      </div>
      <div class="col-10">
        {{ data.doctorid }}
      </div>
    </div>

    <div class="field row" *ngIf="data.type === 1">
      <div class="col-2 label px-3 pt-1 pb-2">
        标题:
      </div>
      <div class="col-10">
        {{data.title}}
      </div>
    </div>
    <div class="field row" *ngIf="data.type === 1">
      <div class="col-2 label px-3 pt-1 pb-2">
        副标题:
      </div>
      <div class="col-10">
        {{data.description}}
      </div>
    </div>

    <div class="field row" *ngIf="data.type === 2">
      <div class="col-2 label px-3 pt-1 pb-2">
        模板名:
      </div>
      <div class="col-10">
        {{data.template_id}}
      </div>
    </div>
    <div class="field row" *ngIf="data.type === 2">
      <div class="col-2 label px-3 pt-1 pb-2">
        模板数据:
      </div>
      <div class="col-10">
        <pre>{{data.data | json}}</pre>
      </div>
    </div>

    <div class="field row">
      <div class="col-2 label px-3 pt-1 pb-2">
        URL:
      </div>
      <div class="col-10">
        {{data.url}}
      </div>
    </div>

    <div class="field row"  *ngIf="data.type === 1 && data.picurl">
      <div class="col-2 label px-3 pt-1 pb-2">
        图片 URL:
      </div>
      <div class="col-10">
        {{data.picurl}}
      </div>
    </div>

    <div class="field row">
      <div class="col-2 label px-3 pt-1 pb-2">
        时间:
      </div>
      <div class="col-10">
        {{data.createdAt | localDate: 'full'}}
      </div>
    </div>
    <div class="field row">
      <div class="col-2 label px-3 pt-1 pb-2">
        状态:
      </div>
      <div class="col-10">
        {{data.received ? '已接收': '未接收'}}
      </div>
    </div>
    <div class="field row">
      <div class="col-2 label px-3 pt-1 pb-2">
        发送次数:
      </div>
      <div class="col-10">
        {{data.tryCount}}
      </div>
    </div>

  </mat-dialog-content>

  <nb-card-footer class="d-block">
    &nbsp;&nbsp;
    <button nbButton outline status="warning" (click)="resend(data.openid)" *ngIf="data.openid">
      重新发送该病患的所有失败消息（测试）
    </button>

    <button nbButton hero outline status="primary" class="float-right" mat-dialog-close>关闭</button>
  </nb-card-footer>
</nb-card>
