<nb-card [accent]="data.isEdit ? 'info' : 'success'">
  <nb-card-header>
    {{data.isEdit? '编辑测试项' : '新增测试项'}}
    <button nbButton shape="round" size="tiny" class="float-right" mat-dialog-close>
      <nb-icon icon="close"></nb-icon>
    </button>
  </nb-card-header>

  <mat-dialog-content class="container pt-2" [formGroup]="form">
    <div class="container">
      <div class="field row">
        <div class="col-sm-8">
          <label for="item" class="label required"> 测试项 </label>
          <input nbInput fullWidth id="item" formControlName="item">
        </div>
        <div class="col-sm-4">
          <label for="code" class="label"> 代码 </label>
          <input nbInput fullWidth id="code" formControlName="code">
        </div>
      </div>
      <div class="field row">
        <div class="col-sm-4">
          <label for="referenceFrom" class="label"> 正常参考值 - 起始值 </label>
          <input nbInput fullWidth id="referenceFrom" type="number" min="0" formControlName="referenceFrom">
        </div>
        <div class="col-sm-4">
          <label for="referenceTo" class="label"> 正常参考值 -终止值</label>
          <input nbInput fullWidth id="referenceTo" type="number" min="0" formControlName="referenceTo">
        </div>
        <div class="col-sm-4">
          <label for="unit" class="label"> 单位 </label>
          <input nbInput fullWidth id="unit" formControlName="unit">
        </div>
      </div>
      <ng-container formArrayName="riskValues">
        <div class="field row">
          <div class="col-12">
            <label class="label"> 未达标/危险值设定 </label>
            <ng-container *ngFor="let riskValue of riskValues.controls; let i=index">
              <div class="field row" [formGroupName]="i">
                <mat-form-field  class="col-3">
                  <mat-label>设定级别</mat-label>
                  <input matInput type="number" min="-3" max="3" formControlName="value">
                </mat-form-field>
                <mat-form-field class="example-full-width" class="col-3">
                  <mat-label>设定级别名称</mat-label>
                  <input matInput placeholder="偏高" formControlName="name">
                </mat-form-field>
                <mat-form-field class="example-full-width" class="col-3">
                  <mat-label>从</mat-label>
                  <input matInput type="number" placeholder="开始值" formControlName="from">
                </mat-form-field>
                <mat-form-field class="example-full-width" class="col-3">
                  <mat-label>到</mat-label>
                  <input matInput type="number" placeholder="结束值" formControlName="to">
                </mat-form-field>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>

  </mat-dialog-content>

  <nb-card-footer class="d-block">
    <button nbButton mat-dialog-close>取消</button>
    <button nbButton hero status="primary" class="float-right" [disabled]="form.invalid" (click)="update()">
      <nb-icon icon="checkmark-circle"></nb-icon>更新
    </button>
  </nb-card-footer>
</nb-card>
