<nb-card>
  <nb-card-header [formGroup]="searchForm">
    医患关系
    <div class="float-right d-flex">
      <nb-form-field>
        <nb-icon nbSuffix icon="search-outline" pack="eva"></nb-icon>
        <input type="text" nbInput fieldSize="small" placeholder="请输入名字搜索" formControlName="name"
          (focus)="setupFilter('user')">
      </nb-form-field>
    </div>

    <ngx-select-doctor [departments]="departments" (doctorSelected)="doctorSelected($event)"></ngx-select-doctor>

  </nb-card-header>

  <nb-card-body>
    <div class="container-fluid" [class.d-none]="!selectedDoctor">
      <div class="row">
        <div class="col-4 pl-0">
          <div class="px-3 pb-3">
            用户群组
            &nbsp;&nbsp;
            <button nbButton hero shape="round" size="small" status="info" (click)="redirectToGroup()">
              <nb-icon icon="link-2-outline"></nb-icon>
              群组管理
            </button>

          </div>
          <ul class="list-group">
            <li class="list-group-item" [class.active]="selectedFilter === group._id"
              *ngFor="let group of filterDoctorGroups" (click)="filterBySelect(group._id)">
              {{ group.name }}
            </li>
          </ul>
        </div>
        <div class="col-8 p-0">
          <div [class.d-none]="!dataSource?.data?.length">
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 table-striped table-hover">

              <ng-container matColumnDef="user.name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> 病患 </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.user?.name }}
                </td>
              </ng-container>

              <ng-container matColumnDef="user.gender">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> 性别 </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.user?.gender | gender }}
                </td>
              </ng-container>

              <ng-container matColumnDef="user.birthdate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> 出生日期 </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.user?.birthdate | localDate }}
                </td>
              </ng-container>

              <ng-container matColumnDef="user.cell">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> 手机 </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.user?.cell }}
                </td>
              </ng-container>

              <ng-container matColumnDef="apply">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 4rem;"> 开关 </th>
                <td mat-cell *matCellDef="let element">
                  <mat-checkbox [(ngModel)]="element.apply" [disabled]="true"></mat-checkbox>
                </td>
              </ng-container>

              <ng-container matColumnDef="_id">
                <th mat-header-cell *matHeaderCellDef class="text-center"> 操作 </th>
                <td mat-cell *matCellDef="let element" class="actions">
                  <button nbButton hero shape="round" size="tiny" status="info" title="编辑药师用户组" (click)="edit(element)">
                    <nb-icon icon="edit-2"></nb-icon>
                  </button>
                  &nbsp;
                  <button nbButton hero shape="round" size="tiny" status="danger" title="删除药师用户组"
                    [disabled]="!element.group" (click)="delete(element._id)">
                    <nb-icon icon="trash-2-outline"></nb-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[10, 25, 50]" [pageSize]="10" showFirstLastButtons></mat-paginator>
          </div>
          <ng-container *ngIf="!dataSource?.data?.length">
            <div class="alert alert-warning" role="alert">
              没有找到相关记录。
            </div>
          </ng-container>

        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
