:host {
  ::ng-deep {
    .mat-expansion-panel-body {
      padding: 0;
    }
    mat-list-option {
      border-top: 1px solid #ddd;
      padding: 1px 0;
    }
    .mat-list-icon {
      width: 50px;
      height: 50px !important;
      margin-left: -1rem;
      margin-right: 1rem;
    }
    .card-body {
      padding: 1.25rem 0.75rem;
    }

    .qqface {
      padding: 0.25rem 0;
      text-align: center;
      max-height: 10rem;
      overflow: auto !important;
      background-color: white;
    }
  }

  .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
  }

  .chat {
    margin-top: auto;
    margin-bottom: auto;
  }
  .card {
    border-radius: 15px !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
  }
  .doctor-group {
    padding: 0.75rem 0 !important;
    white-space: nowrap;

    .doctor-group-body {
      overflow-y: auto;
      padding: 1px 0;
    }
  }

  .msg_card_body {
    overflow-y: auto;
    background: #7f7fd5;
    background: -webkit-linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
    background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
  }
  .chat-header {
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
    padding: 0.75rem 1rem 0 1.25rem;
    position: relative;
  }
  .card-footer {
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
  }
  .left-icons {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: -0.75rem;
    margin-right: 0.25rem;
  }
  .container {
    align-content: center;
  }
  .type_msg {
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    height: 60px !important;
    overflow-y: auto;
  }
  .type_msg:focus {
    box-shadow: none !important;
    outline: 0px !important;
  }
  .attach_btn {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
  }
  .send_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
  }

  .active {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .user_img {
    height: 70px;
    width: 70px;
    border: 1.5px solid #f5f6fa;
  }
  .user_img_msg {
    height: 40px;
    width: 40px;
    border: 1.5px solid #f5f6fa;
  }
  .img_cont {
    position: relative;
    height: 70px;
    width: 70px;
  }
  .img_cont_msg {
    height: 40px;
    width: 40px;
  }
  .online_icon {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0.2em;
    right: 0.4em;
    border: 1.5px solid white;
  }
  .offline {
    background-color: #c23616 !important;
  }
  .user_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
    span {
      font-size: 20px;
      color: white;
    }
    p {
      padding-top: 4px;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.6);
    }
  }

  .sender {
    .msg-data {
      margin-top: 8px;
      margin-bottom: auto;
      margin-right: 10px;
      margin-left: 3rem;
      border-radius: 8px;
      background-color: #82ccdd;
      padding: 10px;
      position: relative;
      white-space: pre-wrap;
      padding: 8px 10px;
      float: left;
      line-height: 25px;
    }
    .triangle {
      height: 0px;
      width: 0px;
      border-width: 4px 10px;
      border-style: solid;
      float: right;
      border-color: transparent transparent transparent #82ccdd;
      position: relative;
      top: 15px;
      right: 30px;
    }
    .msg-time {
      padding-right: 3.8rem;
      text-align: right;
      color: rgba(255, 255, 255, 0.5);
      font-size: 10px;
    }
  }
  .to {
    .msg-data {
      margin-top: 8px;
      margin-bottom: auto;
      margin-left: 10px;
      margin-right: 3rem;
      border-radius: 8px;
      background-color: #eee;
      padding: 10px;
      position: relative;
      white-space: pre-wrap;
      padding: 8px 10px;
      float: right;
      line-height: 25px;
    }
    .triangle {
      height: 0px;
      width: 0px;
      border-width: 4px 10px;
      border-style: solid;
      float: left;
      border-color: transparent #eee transparent transparent;
      position: relative;
      top: 23px;
      left: 30px;
    }
    .msg-time {
      padding-left: 3.8rem;
      color: rgba(255, 255, 255, 0.5);
      font-size: 10px;
    }
  }
}
