<nb-card [status]="data ? 'info' : 'success'" [formGroup]="form">
  <nb-card-header>
    {{data? '编辑疾病类型' : '新增疾病类型'}}
    <button nbButton shape="round" size="tiny" class="float-right" mat-dialog-close>
      <nb-icon icon="close"></nb-icon>
    </button>
  </nb-card-header>

  <mat-dialog-content class="px-3">
    <div class="field row">
      <label for="department" class="label required"> 科室 </label>
      <nb-form-field class="col-4 mr-3">
        <nb-select hero fullWidth placeholder="选择医院科室" formControlName="department">
          <nb-option *ngFor="let dep of data?.departments" [value]="dep._id" ngxDisableByRole [requireRole]="2">{{ dep.name }}</nb-option>
        </nb-select>
      </nb-form-field>
    </div>

    <div class="field row">
      <label for="diseasename" class="label required"> 名称 </label>
      <input nbInput fullWidth id="diseasename" formControlName="name" />
    </div>

    <div class="field row">
      <div class="col-6 pl-0">
        <label for="order" class="label"> 顺序 </label>
        <input nbInput type="number" fullWidth id="order" formControlName="order">
      </div>
    </div>

  </mat-dialog-content>

  <nb-card-footer class="d-block">
    <button nbButton mat-dialog-close>取消</button>
    <button nbButton hero status="primary" class="float-right" [disabled]="form.invalid" (click)="update()">
      <nb-icon icon="checkmark-circle"></nb-icon>更新
    </button>
  </nb-card-footer>
</nb-card>
