<nb-card [status]="data.schedule ? 'info' : 'success'" [formGroup]="form">
  <nb-card-header>
    {{data.schedule ? '编辑门诊' : '新增门诊'}} ({{data.doctor?.name}})
    <button nbButton shape="round" size="tiny" class="float-right" mat-dialog-close>
      <nb-icon icon="close"></nb-icon>
    </button>
  </nb-card-header>

  <mat-dialog-content class="container px-3">
    <div class="field row">
      <label for="date" class="label required col-3"> 日期 </label>
      <div class="d-inline-flex px-0 col-9">
        <input nbInput fullWidth id="date" [matDatepicker]="picker" [min]="currentDate" formControlName="date">
        <mat-datepicker-toggle nbSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>
    </div>

    <div class="field row">
      <label for="period" class="label required col-3"> 门诊时间片 </label>
      <nb-select hero fullWidth id="period" class="col-9" placeholder="选择门诊时间片" formControlName="period">
        <nb-option *ngFor="let p of data.periods" [value]="p._id">{{ p.name }}</nb-option>
      </nb-select>
    </div>

    <div class="field row">
      <label for="limit" class="label required col-3"> 个数限制 </label>
      <input nbInput fullWidth id="limit" type="number" min="1" max="100" class="col-9" formControlName="limit">
    </div>

    <div class="field row pt-3">
      <nb-checkbox formControlName="apply"> 开关 </nb-checkbox>
    </div>

  </mat-dialog-content>

  <nb-card-footer class="d-block">
    <button nbButton mat-dialog-close>取消</button>
    <button nbButton hero status="primary" class="float-right" (click)="update()">
      <nb-icon icon="checkmark-circle"></nb-icon>更新
    </button>
  </nb-card-footer>
</nb-card>
