@import "../@theme/styles/themes";

@include nb-install-component() {
  ::ng-deep router-outlet + * {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}
:host {
  ::ng-deep ul.menu-items li.menu-item {
    .menu-icon {
      margin: 0!important;
    }
    ul.menu-items {
      padding: 0;
      li.menu-item {
        padding-left: 1.25rem;
      }
    }
    li.menu-item:hover,
    > a:hover {
      background-color: beige;
    }
    .menu-title,
    a {
      padding-left: 0.65rem;
    }
  }
}
