<nb-card [status]="data ? 'info' : 'success'">
  <nb-card-header>
    线下咨询问题详情
    <button nbButton shape="round" size="tiny" class="float-right" mat-dialog-close>
      <nb-icon icon="close"></nb-icon>
    </button>
  </nb-card-header>

  <nb-card-body>
    <div class="pb-2">
      <label class="text-muted">病患：</label>
      {{advise.name}}
      <ng-container *ngIf="advise.gender">
        ({{ advise.gender | gender}})
      </ng-container>
      <ng-container *ngIf="advise.age">
        , {{ advise.age}} 岁
      </ng-container>
    </div>
    <div class="pb-2">
      <label class="text-muted">药师：</label>
      {{advise.doctorName}}{{advise.doctorTitle}}
      <ng-container *ngIf="advise.doctorDepartment">
        ({{ advise.doctorDepartment}})
      </ng-container>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <div>
        <label class="text-muted">时间：</label>
        {{advise.createdAt | localDate: 'full'}}
      </div>
      <div>
        <mat-checkbox [checked]="advise.finished" class="question-option px-3" disabled>
          已完成
        </mat-checkbox>
        <mat-checkbox [checked]="advise.isOpen" class="question-option px-3" disabled>
          对其他药师可见
        </mat-checkbox>
        <mat-checkbox [checked]="advise.isPerformance" class="question-option" disabled>
          申报绩效
        </mat-checkbox>
      </div>
    </div>
    <mat-divider></mat-divider>
    <ngx-advise-questions-edit [questions]="advise.questions" [readonly]="true"></ngx-advise-questions-edit>
  </nb-card-body>
</nb-card>
