<ng-container *ngIf="dataSource?.data?.length">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-striped table-hover">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> 专科 </th>
      <td mat-cell *matCellDef="let element">
        {{ (element.name) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="how">
      <th mat-header-cell *matHeaderCellDef> 药师 </th>
      <td mat-cell *matCellDef="let element">
        {{element.how}}
      </td>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef> 药方个数 </th>
      <td mat-cell *matCellDef="let element">
        {{element.startDate | localDate}}
      </td>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef> 提醒个数</th>
      <td mat-cell *matCellDef="let element">
        {{element.endDate | localDate}} </td>
    </ng-container>

    <ng-container matColumnDef="notes">
      <th mat-header-cell *matHeaderCellDef> 门诊时间</th>
      <td mat-cell *matCellDef="let element">
        {{ element.notes }} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> 门诊时间</th>
      <td mat-cell *matCellDef="let element">
        {{ element.status }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
 </ng-container>

<ng-container *ngIf="!dataSource?.data?.length">
  <div class="alert alert-warning" role="alert">
    暂无{{ type === 1 ? '不良反应' : '联合用药' }}记录。
  </div>
</ng-container>
