@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../../styles/themes';

::ng-deep .notification-item {
  line-height: 1rem!important;
  height: 3.5rem!important;
}

@include nb-install-component() {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .logo-container {
    display: flex;
    align-items: center;
    // width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
  }

  .header-container {
    display: flex;
    align-items: center;
    width: auto;

    .sidebar-toggle {
      @include nb-ltr(padding-right, 0.75rem);
      @include nb-rtl(padding-left, 0.75rem);
      text-decoration: none;
      color: nb-theme(text-hint-color);
      nb-icon {
        font-size: 1.25rem;
      }
    }

    .logo {
      // padding: 0 1rem;
      font-size: 1.25rem;
      white-space: nowrap;
      text-decoration: none;
    }
  }


  .online_icon {
    padding-left: 0.15rem;
    padding-top: 0.05rem;
    height: 2.8rem;
    width: 2.8rem;
    background-color: #4cd137;
    border-radius: 50%;
    border: 1.5px solid white;
  }
  .offline_icon {
    padding-left: 0.15rem;
    padding-top: 0.05rem;
    height: 2.8rem;
    width: 2.8rem;
    background-color: #c23616;
    border-radius: 50%;
    border: 1.5px solid white;
  }
  // @include media-breakpoint-down(is) {
  //   nb-select {
  //     display: none;
  //   }
  // }
}
