<nb-card>
  <nb-card-header>
    药师门诊
    &nbsp;&nbsp;
    <button mat-icon-button matTooltip="清除当前药师门诊" (click)="deleteDiagnose()" *ngIf="this.diagnose?._id">
      <mat-icon>settings_backup_restore</mat-icon>
    </button>

    <ng-container *ngIf="selectedPatient">
      <button nbButton size="small" class="float-right" [status]="isFirstVisit ? 'success' : 'warning'"
        matTooltip="查看病患历史记录" (click)="viewPatientHistory()">
        <nb-icon icon="person-outline"></nb-icon>
        {{ selectedPatient.name }}
      </button>
      <button nbButton outline size="small" class="float-right mr-2" status="info" (click)="editPatientNotes()"
        [matTooltip]="selectedPatient.notes ? '提醒： ' + selectedPatient.notes.replace('|', ', ') : '点击编辑'">
        <nb-icon icon="bell-outline"></nb-icon>
        诊断提醒
      </button>
      <button nbButton outline size="small" class="float-right mr-2" status="info" (click)="editPatientDiagnoses()"
        [matTooltip]="selectedPatient.diagnoses ? '诊断： ' + selectedPatient.diagnoses.replace('|', ', ') :  '点击编辑'">
        <nb-icon icon="headphones-outline"></nb-icon>
        疾病诊断
      </button>
    </ng-container>
  </nb-card-header>

  <nb-card-body>
    <div class="border-bottom pb-2">
      <button nbButton size="small" [status]="selectedBooking ? 'info' : 'basic'" (click)="selectAppointment()">
        <nb-icon icon="checkmark-circle-2-outline" *ngIf="selectedBooking"></nb-icon> 选择预约
      </button>&nbsp;&nbsp;
      <button nbButton size="small" [status]="selectedPatient ? 'info' : 'basic'" (click)="selectPatient()">
        <nb-icon icon="checkmark-circle-2-outline" *ngIf="selectedPatient"></nb-icon> 选择病患
      </button>
      <ng-container *ngIf="diagnose?._id">
        <span class="float-right">
          <button nbButton hero size="small" status="primary" [disabled]="!checkIfFinished()" (click)="printDiagnose()"
            class="mr-3">
            <nb-icon icon="printer-outline"></nb-icon> 打印门诊
          </button>
          <button nbButton hero size="small" status="primary" [disabled]="!checkIfFinished()" (click)="closeDiagnose()"
            *ngIf="diagnose?._id">
            <nb-icon icon="archive-outline"></nb-icon> 结束门诊
          </button>
        </span>
      </ng-container>
    </div>

    <ng-container *ngIf="selectedPatient">
      <mat-tab-group #tabGroup class="w-100" mat-stretch-tabs (selectedTabChange)="tabChanged($event.index)">
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>assignment</mat-icon>
            门诊处方
          </ng-template>
          <ng-template matTabContent>
            <div class="my-3">
              <ngx-prescription #diagnosePrescription [prescription]="diagnose?.prescription" [medicineReferences]="medicineReferences"
                (noticesFound)="prescriptionNoticesFound($event)" (saveDiagnose)="saveDiagnose()">
              </ngx-prescription>
            </div>
          </ng-template>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>notifications_active</mat-icon>
            <span [matBadge]="diagnose.notices?.length || ''" matBadgeColor="warn">
              监测计划
            </span>
          </ng-template>
          <ng-template matTabContent>
            <div class="my-3">
              <ngx-notices [notices]="diagnose?.notices" (saveDiagnose)="saveDiagnose()"></ngx-notices>
            </div>
          </ng-template>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>opacity</mat-icon>
            化验结果
          </ng-template>
          <ng-template matTabContent>
            <div class="my-3">
              <ngx-lab-results [user]="diagnose.user" [testIds]="diagnose.labResults" (saveDiagnose)="saveDiagnoseTest($event)"></ngx-lab-results>
            </div>
          </ng-template>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>ballot</mat-icon>
            问卷
          </ng-template>
          <ng-template matTabContent>
            <div class="my-3">
              <ngx-surveys [isFirstVisit]="isFirstVisit" [surveyGroups]="diagnose.surveys" [doctor]="doctor"
                [patient]="selectedPatient" (dataChange)="surveyGroupsChanged($event)"></ngx-surveys>
            </div>
          </ng-template>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>move_to_inbox</mat-icon>
            门诊结论
          </ng-template>
          <ng-template matTabContent>
            <div class="my-3">
              <ngx-survey-edit #diagnoseResult [type]="5" [data]="getDataByType(5)" (dataChange)="surveyGroupChanged($event)">
              </ngx-survey-edit>
            </div>
          </ng-template>
        </mat-tab>

      </mat-tab-group>
    </ng-container>

    <ng-container *ngIf="!selectedPatient">
      <div class="alert alert-warning mt-4" role="alert">
        请点击"选择预约"或"选择病患"按键开始一个门诊。
      </div>
    </ng-container>
  </nb-card-body>
</nb-card>
