<nb-card>
  <nb-card-header>
    药师门诊
    &nbsp;&nbsp;
    <ng-container *ngIf="selectedPatient">
      <button nbButton size="small" class="float-right" [status]="isFirstVisit ? 'success' : 'info'"
        matTooltip="查看病患历史记录" (click)="viewPatientHistory()">
        <nb-icon icon="person-outline"></nb-icon>
        {{ selectedPatient.name }}
      </button>
    </ng-container>
  </nb-card-header>

  <nb-card-body>
    <div class="border-bottom pb-2">
      <button nbButton size="small" [status]="selectedBooking ? 'info' : ''" (click)="selectAppointment()">
        <nb-icon icon="checkmark-circle-2-outline" *ngIf="selectedBooking"></nb-icon> 选择预约
      </button>&nbsp;&nbsp;
      <button nbButton size="small" [status]="selectedPatient ? 'info' : ''" (click)="selectPatient()">
        <nb-icon icon="checkmark-circle-2-outline" *ngIf="selectedPatient"></nb-icon> 选择病患
      </button>
      <span class="float-right">
        <button nbButton hero size="small" status="primary" (click)="closeDiagnose()" *ngIf="isReady()">
          <nb-icon icon="paper-plane-outline"></nb-icon> 发送
        </button>
      </span>
    </div>

    <ng-container *ngIf="selectedPatient">
      <mat-tab-group mat-stretch-tabs (selectedTabChange)="tabChanged($event.index)">
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>account_box</mat-icon>
            门诊处方
          </ng-template>
          <ng-template matTabContent>
          </ng-template>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>account_box</mat-icon>
            监测计划
          </ng-template>
          <ng-template matTabContent>
          </ng-template>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>account_box</mat-icon>
            化验结果
          </ng-template>
          <ng-template matTabContent>
          </ng-template>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>account_box</mat-icon>
            问卷
          </ng-template>
          <ng-template matTabContent>
          </ng-template>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>account_box</mat-icon>
            门诊结论
          </ng-template>
          <ng-template matTabContent>
          </ng-template>
        </mat-tab>

      </mat-tab-group>
    </ng-container>

    <ng-container *ngIf="!selectedPatient">
      <div class="alert alert-warning" role="alert">
        请点击"选择预约"或"选择病患"按键开始一个门诊。
      </div>
    </ng-container>

  </nb-card-body>
</nb-card>
