<div class="row">

  <div class="col-xxxl-3 col-md-6">
    <mat-card status="success">
        sdkf
    </mat-card>
  </div>
  <div class="col-xxxl-3 col-md-6">
    <nb-card status="info">
      <nb-card-header>
        sdkf
      </nb-card-header>
    </nb-card>
  </div>
  <div class="col-xxxl-3 col-md-6">
    <nb-card status="warning">
      <nb-card-header>
        sdkf
      </nb-card-header>
    </nb-card>
  </div>
  <div class="col-xxxl-3 col-md-6">
    <nb-card status="danger">
      <nb-card-header>
        <span class="material-icons">
          power_off
        </span>
      </nb-card-header>
    </nb-card>
  </div>
</div>
