<nb-card>
  <nb-card-header [formGroup]="searchForm">
    线下咨询模版
    &nbsp;&nbsp;
    <div class="float-right d-flex">
      <nb-form-field>
        <nb-icon nbSuffix icon="search-outline" pack="eva"></nb-icon>
        <input type="text" nbInput fieldSize="small" placeholder="请输入名字搜索" formControlName="name"
          (focus)="setupFilter('name')">
      </nb-form-field>
    </div>

    <div class="alert alert-info mt-3 mb-0" role="alert">
      <div class="pb-2">
        请选择医院科室 <span class="font-weight-light">（医院级别模板请选择‘无’）</span>
      </div>
      <div class="d-flex pt-2 row">
        <label class="col-3 text-right">科室:</label>
        <nb-form-field class="col-7">
          <nb-select hero fullWidth placeholder="选择医院科室" formControlName="department">
            <nb-option value="none">无 (医院级别线下咨询模版)</nb-option>
            <nb-option *ngFor="let dep of departments" [value]="dep._id" ngxDisableByRole [requireRole]="2">
              {{ dep.name }}</nb-option>
          </nb-select>
        </nb-form-field>
        <button nbButton hero class="col-2" shape="round" size="tiny" status="success" title="新增线下咨询模版" (click)="add()">
          <nb-icon icon="plus" pack="eva" [options]="{ animation: { type: 'shake' } }"></nb-icon> 新建
        </button>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div [class.d-none]="!dataSource?.data?.length">
      <table mat-table [dataSource]="dataSource" matSort matSortActive="order" matSortDirection="asc"
        class="mat-elevation-z8 table-striped table-hover">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> 模板名称 </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="questions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> 试题 </th>
          <td mat-cell *matCellDef="let element">
            <div class="alert alert-secondary my-1">
              <div *ngFor="let question of element.questions; let i=index">
                {{i + 1}}: {{question.question}}
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="order">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 5rem;"> 顺序 </th>
          <td mat-cell *matCellDef="let element">
            {{element.order}} </td>
        </ng-container>

        <ng-container matColumnDef="apply">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> 开关 </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox [(ngModel)]="element.apply" [disabled]="true"></mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="_id">
          <th mat-header-cell *matHeaderCellDef class="text-center"> 操作 </th>
          <td mat-cell *matCellDef="let element; let i = index;" class="actions">
            <button nbButton hero shape="round" size="tiny" status="info" title="编辑" (click)="edit(element, i)">
              <nb-icon icon="edit-2"></nb-icon>
            </button>
            &nbsp;
            <button nbButton hero shape="round" size="tiny" status="danger" title="删除" (click)="delete(element._id)">
              <nb-icon icon="trash-2-outline"></nb-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 25, 50]" [pageSize]="10" showFirstLastButtons></mat-paginator>
    </div>
    <ng-container *ngIf="!dataSource?.data?.length">
      <div class="alert alert-warning" role="alert">
        没有找到相关记录。
      </div>
    </ng-container>

  </nb-card-body>
</nb-card>
