<nb-card>
  <nb-card-header>
    选取图片
    <button nbButton shape="round" size="tiny" class="float-right" mat-dialog-close>
      <nb-icon icon="close"></nb-icon>
    </button>
  </nb-card-header>
  <hr class="my-1">
  <div mat-dialog-content class="px-3 m-0">
    <div class="toolbar">
      <button mat-icon-button (click)="rotateLeft()">
        <mat-icon title="向左旋转">rotate_90_degrees_ccw</mat-icon>
      </button>
      <button mat-icon-button (click)="rotateRight()">
        <mat-icon class="flipx" title="向右旋转">rotate_90_degrees_ccw</mat-icon>
      </button>
      <button mat-icon-button (click)="flipHorizontal()">
        <mat-icon title="左右互换">flip</mat-icon>
      </button>
      <span class="border-right mx-2"></span>
      <button mat-icon-button (click)="zoomIn()">
        <mat-icon title="放大">zoom_in</mat-icon>
      </button>
      <button mat-icon-button (click)="resetImage()">
        <mat-icon title="缩小">zoom_out</mat-icon>
      </button>
      <span class="border-right mx-2"></span>
      <button mat-icon-button (click)="resetImage()">
        <mat-icon title="重置图片">replay</mat-icon>
      </button>
    </div>

    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="data.aspectRatio"
      [cropperMinWidth]="data.width" [resizeToWidth]="data.width" [onlyScaleDown]="true" [roundCropper]="false"
      [canvasRotation]="canvasRotation" [transform]="transform" [alignImage]="'left'"
      [style.display]="showCropper ? null : 'none'" format="png" (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()"></image-cropper>
  </div>
  <nb-card-footer class="d-block">
    <button nbButton status="basic" mat-dialog-close>取消</button>
    <button nbButton status="primary" class="float-right" (click)="crop()">确定</button>
  </nb-card-footer>
</nb-card>
