<nb-card [status]="data ? 'info' : 'success'">
  <nb-card-header>
    {{data ? '编辑问题' : '新增问题'}}

    <button nbButton shape="round" size="small" class="float-right" mat-dialog-close>
      <nb-icon icon="close"></nb-icon>
    </button>
  </nb-card-header>

  <mat-dialog-content class="container px-3" [formGroup]="form">
    <div class="field row">
      <div class="col-md-2">
        <label for="order" class="label"> 排序 </label>
        <input nbInput fullWidth id="order" type="number" min="0" formControlName="order">
      </div>
      <div class="col-md-10">
        <label for="question" class="label required"> 问题 </label>
        <input nbInput fullWidth id="question" formControlName="question">
      </div>
    </div>
    <div class="field row">
      <div class="col-md-4">
        <label for="answer_type" class="label required"> 答案类型 </label>
        <nb-select hero placeholder="-- 选择答案类型 --" fullWidth id="answer_type" formControlName="answer_type">
          <nb-option [value]="0"> 是非题 </nb-option>
          <nb-option [value]="1"> 单选题 </nb-option>
          <nb-option [value]="2"> 多选题 </nb-option>
          <nb-option [value]="3"> 填空 </nb-option>
        </nb-select>
      </div>
      <div class="col-md-2">
        <label for="answer_number" class="label required"> 答案个数 </label>
        <input nbInput fullWidth id="answer_number" type="number" min="1" max="20" formControlName="answer_number">
      </div>
      <div class="col-md-2">
        <label for="weight" class="label"> 分值 </label>
        <input nbInput fullWidth id="weight" type="number" min="0" formControlName="weight">
      </div>
      <div class="col-md-2 pt-5">
        <nb-checkbox formControlName="apply"> 必填?</nb-checkbox>
      </div>
      <div class="col-md-2 pt-5">
        <nb-checkbox fullWidth formControlName="apply"> 开关</nb-checkbox>
      </div>
    </div>
    <div class="row border-top mt-3">
      <div class="col-1">#</div>
      <div class="col-9">答案</div>
      <div class="col-2">用户填空</div>
    </div>
    <div class="row border-top" *ngFor="let option of options; let i=index">
      <div class="col-1">{{ i+ 1}}</div>
      <div class="col-9">
        {{option.answer}}
      </div>
      <div class="col-2">
        {{option.input_required}}
      </div>
    </div>
  </mat-dialog-content>

  <nb-card-footer class="d-block">
    <button nbButton mat-dialog-close>取消</button>
    <button nbButton hero status="primary" class="float-right" [disabled]="form.invalid" (click)="update()">
      <nb-icon icon="checkmark-circle"></nb-icon>更新
    </button>
  </nb-card-footer>
</nb-card>
