<nb-card>
  <nb-card-header>
    快捷回复管理
    &nbsp;&nbsp;
    <button nbButton hero size="small" status="success" class="float-right" (click)="add()">
      <nb-icon icon="plus-outline"></nb-icon> 增加
    </button>
  </nb-card-header>

  <nb-card-body>
    <div class="pb-3 pl-3">
      <span *ngIf="shortcuts?.length > 1">您可以拖拽来改变顺序。</span>
    </div>

    <div class="list-group d-block" cdkDropList (cdkDropListDropped)="drop($event)">
      <div class="list-group-item list-group-item-action" *ngFor="let shortcut of shortcuts; let i=index" cdkDrag>
        {{shortcut}}
        <span class="float-right">
          <button nbButton hero shape="round" size="tiny" status="info" title="编辑" (click)="edit(shortcut, i)">
            <nb-icon icon="edit-2"></nb-icon>
          </button>
          &nbsp;
          <button nbButton hero shape="round" size="tiny" status="danger" title="删除" (click)="delete(i)">
            <nb-icon icon="trash-2-outline"></nb-icon>
          </button>
        </span>
      </div>
    </div>
  </nb-card-body>

  <nb-card-footer class="d-block">
    <button nbButton hero status="primary" class="float-right" (click)="update()">
      <nb-icon icon="checkmark-circle"></nb-icon> 更新
    </button>
    <button nbButton hero outline status="info" class="float-right mr-3" (click)="reset()"> 重置 </button>
  </nb-card-footer>
</nb-card>
