<nb-card status="info">
  <nb-card-header>
    药师门诊
    <button nbButton shape="round" size="tiny" class="float-right" mat-dialog-close>
      <nb-icon icon="close"></nb-icon>
    </button>
  </nb-card-header>

  <mat-dialog-content class="px-3 pt-1">

    <mat-tab-group mat-stretch-tabs>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>assignment</mat-icon>
          门诊处方
        </ng-template>
        <ng-template matTabContent>
          <ngx-prescription [prescription]="diagnose?.prescription" [medicineReferences]="data.medicineReferences"  [readonly]="true">
          </ngx-prescription>
        </ng-template>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>notifications_active</mat-icon>
          监测计划
        </ng-template>
        <ng-template matTabContent>
          <ngx-notices [notices]="diagnose?.notices" [readonly]="true" [diagnose]="diagnose" [user]="data.patient" [doctor]="data.doctor">
          </ngx-notices>
        </ng-template>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>opacity</mat-icon>
          化验结果
        </ng-template>
        <ng-template matTabContent>
          <ngx-lab-results  [readonly]="true"></ngx-lab-results>
        </ng-template>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>ballot</mat-icon>
          问卷
        </ng-template>
        <ng-template matTabContent>
          <ngx-surveys [isFirstVisit]="isFirstVisit" [surveyGroups]="diagnose.surveys" [doctor]="data.doctor"
            [patient]="data.patient"  [readonly]="true"></ngx-surveys>
        </ng-template>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>move_to_inbox</mat-icon>
          门诊结论
        </ng-template>
        <ng-template matTabContent>
          <ngx-survey-edit [type]="5" [data]="getDataByType(5)" [readonly]="true"></ngx-survey-edit>
        </ng-template>
      </mat-tab>

    </mat-tab-group>
  </mat-dialog-content>
</nb-card>
