<nb-card>
  <nb-card-header>
    门诊开设
    &nbsp;&nbsp;
    <button nbButton hero shape="round" size="tiny" status="success" [hidden]="!selectedDoctor" title="新增门诊"
      (click)="add()">
      <nb-icon icon="plus" pack="eva" [options]="{ animation: { type: 'shake' } }"></nb-icon>
    </button>
    <ngx-select-doctor [departments]="departments" (doctorSelected)="doctorSelected($event)"></ngx-select-doctor>
  </nb-card-header>

  <nb-card-body>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 table-striped table-hover">

      <ng-container matColumnDef="period">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 门诊时间片 </th>
        <td mat-cell *matCellDef="let element">
          {{ getDoctorLabel(element.period) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 日期 </th>
        <td mat-cell *matCellDef="let element">
          {{element.date | localDate}}
        </td>
      </ng-container>

      <ng-container matColumnDef="limit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 个数限制 </th>
        <td mat-cell *matCellDef="let element"> {{element.limit}} </td>
      </ng-container>

      <ng-container matColumnDef="apply">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 开关 </th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox [(ngModel)]="element.apply" [disabled]="true"></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="_id">
        <th mat-header-cell *matHeaderCellDef class="text-center"> 操作 </th>
        <td mat-cell *matCellDef="let element" class="actions">
          <button nbButton hero shape="round" size="tiny" status="info" title="编辑" (click)="edit(element)">
            <nb-icon icon="edit-2"></nb-icon>
          </button>
          &nbsp;
          <button nbButton hero shape="round" size="tiny" status="danger" title="删除" (click)="delete(element._id)">
            <nb-icon icon="trash-2-outline"></nb-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 50]" [pageSize]="10" showFirstLastButtons></mat-paginator>
  </nb-card-body>
</nb-card>
