<nb-card status="success">
  <nb-card-header>
    <nb-icon icon="eye-outline"></nb-icon>宣教材料预览
    <button nbButton shape="round" size="tiny" class="float-right" mat-dialog-close>
      <nb-icon icon="close"></nb-icon>
    </button>
  </nb-card-header>

  <mat-dialog-content class="px-3">
    <div class="h4 text-center text-primary">
      {{data.article.title}}
    </div>
    <p class="font-italic text-muted py-3">
      {{data.doctor}} 发送于 {{currentTime | localDate}}
    </p>
    <div class="text-center pb-2" *ngIf="data.article.title_image">
      <img [src]="data.article.title_image | imgPath" onerror="this.src='assets/images/none.png';this.onerror='';"
        alt="标题图片" class="img-fluid img-thumbnail">
    </div>
    <div [innerHTML]="data.article?.content">
    </div>
  </mat-dialog-content>
</nb-card>
