<nb-card status="info">
  <nb-card-header>
    选择模版
    <button nbButton shape="round" size="tiny" class="float-right" mat-dialog-close>
      <nb-icon icon="close"></nb-icon>
    </button>
  </nb-card-header>

  <div class="alert alert-info m-0" role="alert" [formGroup]="form">
    <div class="d-flex pt-2 row">
      <label class="col-2 text-right">类别:</label>
      <nb-form-field class="col-3">
        <nb-select hero fullWidth placeholder="选择宣教材料类别" formControlName="articleCat">
          <nb-option *ngFor="let cat of articleCats" [value]="cat._id">{{ cat.name }}</nb-option>
        </nb-select>
      </nb-form-field>
      <label class="col-2 text-right">模板:</label>
      <nb-form-field class="col-4 mr-3">
        <nb-select hero fullWidth placeholder="选择模板" formControlName="template">
          <nb-option *ngFor="let template of filteredTemplates" [value]="template._id">{{ template.name }}</nb-option>
        </nb-select>
      </nb-form-field>
    </div>
  </div>

  <mat-dialog-content class="px-3">
    <ng-container *ngIf="selectedTemplate">
      <div class="field row">
        <div class="col-md-5">
          <label for="title" class="label required"> 标题 </label>
          <div>{{selectedTemplate.title}}</div>
        </div>
        <div class="col-md-7">
          <div class="thumbnail">
            <img [src]="selectedTemplate.title_image ? selectedTemplate.title_image : '/assets/images/no-image.png'"
              alt="标题图片" class="img-fluid img-thumbnail">
          </div>
        </div>
      </div>
      <hr />
      <div class="px-3" [innerHtml]="selectedTemplate.content"></div>
    </ng-container>

    <div *ngIf="!selectedTemplate" class="blockquote pt-3 pl-2">
      编辑文章以前, 请先选择一个模版。
    </div>
  </mat-dialog-content>

  <nb-card-footer class="d-block">
    <button nbButton mat-dialog-close>取消</button>
    <button nbButton hero status="primary" class="float-right" [disabled]="!selectedTemplate" (click)="select()">
      <nb-icon icon="checkmark-circle"></nb-icon>确定
    </button>
  </nb-card-footer>
</nb-card>
