<div *ngFor="let consult of consults" class="mx-2 my-3">
  <ng-container *ngIf="consult.userName">
    <div class="to">
      <div class="d-flex align-items-start">
        <div class="img_cont_msg">
          <span class="triangle"></span>
          <img [src]="selectedPatient?.icon | imgPath:'person'" class="rounded-circle user_img_msg">
        </div>
        <div class="msg-data text-break">
          <ngx-consult-request-content [consult]="consult">
          </ngx-consult-request-content>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!consult.userName">
    <div class="sender">
      <div class="d-flex align-items-end flex-row-reverse">
        <div class="img_cont_msg">
          <span class="triangle"></span>
          <img [src]="doctor?.icon | imgPath:'person'" class="rounded-circle user_img_msg">
        </div>
        <div class="msg-data text-break">
          <ngx-consult-request-content [consult]="consult"></ngx-consult-request-content>
        </div>
      </div>
    </div>
  </ng-container>
</div>
